@import '../../styles/settings';

:global(#ship){
  margin: 30px 0;
}

.ship{
  padding: calc(var(--line-height-normal)*2) 0; 
  composes:borderRadius boxShadowFilet from '../../styles/mixins.css';
}

.title{
  composes: primaryText fontWeightLight fontSizeXLarge from '../../styles/mixins.css';
  opacity: .5;
  margin: 0;
}


.divider{
  composes: primaryBackground from '../../styles/mixins.css';
  opacity: .2;
  height: 1px;
  padding: 0 0 0 0;
  margin:0 0 16px 0;
}

.download-link{
  composes:button-primary from '../../styles/mixins.css';
  text-decoration: none;
}
